<div class="dashboard-wrapper">
  <!-- <ng-content select="selector"></ng-content> -->
  <div class="menu-bar">
    <h2>
      QRCODE <br />
      Generator
    </h2>

    <div [class]="menu === 0 ? 'menu active' : 'menu'" (click)="activeMenu(0)">Home</div>
    <div [class]="menu === 1 ? 'menu active' : 'menu'" (click)="activeMenu(1)">Assigned Code</div>
    <div [class]="menu === 2 ? 'menu active' : 'menu'" (click)="activeMenu(2)">Logout</div>
  </div>
  <div class="content" id="section-to-print" [ngStyle]="menu !== 0 ? {width: '80%', height: '100vh', right: '0', padding: '15px'} : {'color': 'black'}">
         <!-- Home page -->
    <div class="qrcode-wrapper" *ngIf="menu === 0 && isGenerateQrCode">
      <div *ngFor="let item of qrCodeDataArray" >
        <qrcode
          (qrCodeURL)="onChangeURL($event)"
          [qrdata]="item"
          [ariaLabel]="item"
          [width]="qrCodeSize"
          [errorCorrectionLevel]="'M'"
        ></qrcode>
        <div class="qr-download-btn">
            <a [href]="qrCodeDownloadLink" download="qrcode">Download</a>
        </div>
      </div>
    </div>

    <!-- Assigned to -->
    <div *ngIf="menu === 1"> 
        <h2>Assigned QRcode</h2>
        <div class="qrcode-wrapper" *ngIf="isGenerateQrCode">
            <div *ngFor="let item of assignedQrCode" >
              <qrcode
                (qrCodeURL)="onChangeURL($event)"
                [qrdata]="item"
                [ariaLabel]="item"
                [width]="200"
                [errorCorrectionLevel]="'M'"
              ></qrcode>
              <div class="qr-download-btn">
                  <a [href]="qrCodeDownloadLink" download="qrcode">Download</a>
              </div>
            </div>
          </div>
    </div>
    <!-- logout -->
    <div *ngIf="menu === 2"> You are logout. Login to have access</div>
  </div>
  <div class="control-bar" *ngIf="menu === 0">
    <h2>QRcode Settings</h2>
    <div class="form">
      <label for="total-qrcode" title="TOtal number of qr code to generate"
        >Number of QRcode</label
      >
      <input
        type="number"
        name="total-qrcode"
        id="total-qrcode"
        placeholder="100"
        [(ngModel)]="totalQrCode"
      />

      <label for="qrc-size">Select QRcode image Size</label>
      <select name="qrc-size" id="qrc-size" [(ngModel)]="qrCodeSize">
        <option value="100">100</option>
        <option value="150">150</option>
        <option value="200">200</option>
        <option value="250">250</option>
        <option value="300">300</option>
        <option value="350">350</option>
        <option value="400">400</option>
      </select>

      <input type="button" value="generate" class="submit-btn" (click)="generateQrcode()" />
      <input *ngIf="isGenerateQrCode" type="button" value="Print all QRcode" class="submit-btn" (click)="printPage()" />
    </div>
  </div>
</div>
